:root {
    --main-color:  #73006B;
    --second-color: #3D0D3A;

}

* {
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    height:15rem;
    background-color: var(--main-color);

}

body > .header-cv{
    width: 100%;
    height: 35rem;
    background-color: #3D0D3A;
}

.header-cv > .container-navbar {
    width:100%;
    height: 10%;
    background-color:#241323;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo, .navbar{
    width: 50%;
    margin: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar > li {

    list-style: none
}

.navbar > li > a {
    color:inherit;
    text-decoration: none;
    width: 8rem;
    border-radius: 5px;
    padding: 0.8 rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B863B3;
}

.navbar > li > a:hover{
    color: #ffffff;
}

.Inicio{
    color: #B863B3;
}


.contenedor {
    display: flex;
}

.saludo  {
    font-size: 30px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    padding-left: 110px;
    margin-top: 5rem;
    
}

.nombre  {
    font-size: 50px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    padding-left: 110px;
}

.info {
    font-size: 30px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
    padding-left: 110px;
    opacity: 1;
    animation: fadeOut 5s infinite;
}

@keyframes fadeOut {
    0%, 100% {
      opacity: 1;
    }
    70% {
      opacity: 0; 
    }
}

.informacion{
    font-size: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 110px;
    font-weight: 100;
}

.imagen > .foto{
    width: 17rem;
    height: 17rem;
    border-radius: 20rem;
    flex-direction: row;
    margin-left: 50rem;
    position: relative;
    top:-210px;
    border:7px solid #B863B3;
    border-right: 2px solid; 
    display: inline-block;
    animation: bounce 2s infinite;
    
    
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px); 
    }
}
   
.logo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding-left: 97px;
}

.navbar{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.navbar > :hover{
    color: #58317A;
}

.what > li img{
    list-style: none;
    width: 2.5rem;
    height: auto;
    margin-left: 7rem;
    position: relative;
    top: -17rem;
}

.what img:hover {
    filter: brightness(15%); 
}

.instagram >li img{
    list-style: none;
    width: 2.5rem;
    height: auto;
    margin-left: 11.2rem;
    position: relative;
    top: -19.7rem;
}

.instagram img:hover {
    filter: brightness(15%); 
}

.tiktok >li img{
    list-style: none;
    width: 2.5rem;
    height: auto;
    margin-left: 15.5rem;
    position: relative;
    top: -22.5rem;
}

.tiktok img:hover {
    filter: brightness(15%); 
}

.my-botton{
    margin-left: 6.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
    border:  #241323;;
    background-color:#B863B3;
    padding: 10px;
    margin-top: -67rem;
    position: relative;
    top: -320px;
    font-size: 15px;
    
}

.my-botton:hover{
    background-color:#241323;
}

 .word1{
    width: auto;    
    position: relative;
    margin-left: 32rem;
    top: 2rem;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 45;
    font-size: 40px;
  }

.word2{
    width: auto;
    margin-left: 38rem;   
    margin-top: 2rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#B863B3;
    font-weight: 45;
    font-size: 40px;
    display: inline-block;
    animation:  float 3s ease-in-out infinite;  
    position: relative;
    bottom: 47px;  
}

@keyframes float {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
}

.main-home {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color:#73006B
}



.all-card{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 2rem;
}

.all-card > .container-caja{
    align-items: center;
    width: 19.5rem;
    height: 28rem;
    background-color: #241323;
    border-radius: 5%;
    transition: transform 0.7s ease;
    border: 3px solid rgb(201, 13, 138);
    
}

.all-card > .container-caja:hover{

transform: scale(1.08);
}


.caja1{
    font-size: 1.5rem;
    margin-left: 2.7rem;
    margin-top: 8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1;
}

.caja11{
    font-size: 1.2;
    margin-left:1.5rem;
    margin-top: 2rem;
    font-weight: 100;
    color: white ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.imagen1{
    width: 5rem;
    height: 5rem;
    position: relative;
    top: -21rem;
    margin-left: 7rem;
}

.boton11 > .boton111{
    margin-left: 6rem;
    position: relative;
    top: -4rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #B863B3;
    color: white;
    border: #241323;
}

.boton111:hover{
    background-color: #3D0D3A;
}


.caja2{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    margin-top: 8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1;
}

 .caja22{
    font-size: 1.2;
    margin-left:1.5rem;
    margin-top: 2rem;
    font-weight: 100;
    color: white ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagen2{
    width: 5rem;
    height: 4.5rem;
    position: relative;
    top: -21rem;
    margin-left: 7.5rem;
}

.boton22 > .boton222{
    margin-left: 6rem;
    position: relative;
    top: -3.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #B863B3;
    color: white;
    border: #241323;
}

.boton222:hover{
    background-color: #3D0D3A;
}



.caja3{
    font-size: 1.5rem;
    margin-left: 2.7rem;
    margin-top: 8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1;
}

.caja33{
    font-size: 1.2;
    margin-left:1.5rem;
    margin-top: 2rem;
    font-weight: 100;
    color: white ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagen3{
    width: 5rem;
    height: 5rem;
    position: relative;
    top: -20.8rem;
    margin-left: 7rem;
}

.boton33 > .boton333{
    margin-left: 6rem;
    position: relative;
    top: -4rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #B863B3;
    color: white;
    border: #241323;
}

.boton333:hover{
    background-color: #3D0D3A;
}

.container2{
    width: 100%;
    height: 25rem;
    background-color: #3D0D3A;
}

.caja1img{
    display: flex;
    position: relative;
    display: inline-block;
    margin-left: 5.5rem;
    margin-top: 5rem;
}


.titulo2{
    display: flex;
}


 .word11{
    margin-left: 32rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight:1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.word22{
    margin-left: 1rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight:1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#B863B3;
    animation:  float 3s ease-in-out infinite;  
}
@keyframes float {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
}


.caja1img >.overlay{
    position: absolute;
    height: 12rem ;
    opacity: 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    justify-content: center;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 500ms ease-out;
    display: flex;
    align-items: center;
    background-color: rgba(84, 74, 122, 0.8);
    border-radius: 3rem;
    
}

.caja1img:hover .overlay{
    opacity: 1
}

.css1{
    width: 20rem;
    height: 12rem;
    border-radius: 3rem;
    
    
}

.parrafo1{
    font-size: 1rem;
    color: white;
}


.css2{
    width: 20rem;
    height: 12rem;
    border-radius: 3rem;
    
}

.parrafo2{
    font-size: 1rem;
    color: white;
}

.css3{
    width: 20rem;
    height: 12rem;
    border-radius: 3rem;
}

.parrafo3{
    font-size: 1rem;
    color: white;
}

.CONTACTANOS{
    width: 100%;
    height: 55rem;
    background-color: #73006B;
}

.campos{    
    margin-left: 33rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 13rem;
    height: 2.5rem;
    border-radius: 3rem;
    border:none;
    background-color:#B863B3;
    padding: 10px;
    margin-top: -67rem;
    position: relative;
    top: -2rem;
    font-size: 15px;
}

.c1{
    color: white;
    width: auto;    
    margin-left: 31.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 45;
    font-size: 40px;
}




.Contact{
    display: flex;
}

.c2{
    color:#B863B3;
    margin-left:1rem;
    width: auto;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 45;
    font-size: 40px;
    display: inline-block;
    animation:  float 3s ease-in-out infinite;  
}
@keyframes float {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
}

.text1{
    width: 19rem;
    height: 3rem;
    background-color: #B863B3;
    border: none;
    border-radius: 7px;
    margin-left: 19rem;
    margin-top: 3rem;
    padding-left: 0.5rem;
    color: #361a38
}

.text1::placeholder {
    color: #361a38;
    opacity: 0.8;
}

.text2{
    width: 19rem;
    height: 3rem;
    background-color: #B863B3;
    border: none;
    border-radius: 7px;
    margin-left: 39rem;
    position: relative;
    top: -3rem;
    color:#361a38;
}
.text2::placeholder {
    color: #361a38;
    opacity: 0.8;
}

.text3{
    width: 19rem;
    height: 3rem;
    background-color: #B863B3;
    border: none;
    border-radius: 7px;
    margin-left: 39rem;
    position: relative;
    top: -2rem;
    color: #361a38;
}

.text3::placeholder {
    color: #361a38;
    opacity: 0.8;
}

.text4{
    width: 19rem;
    height: 3rem;
    background-color: #B863B3;
    border: none;
    border-radius: 7px;
    margin-left: 19rem;
    position: relative;
    top: -5rem;
    color:#361a38;
}
.text4::placeholder {
    color: #361a38;
    opacity: 0.8;
}

.text5{
    width: 39.1rem;
    height: 18rem;
    margin-left: 18.9rem;
    border: none;
    border-radius: 7px;
    position:relative;
    top: -4rem;
    background-color: #B863B3;
    color: #361a38;
}
.text5::placeholder {
    color: #361a38;
    opacity: 0.8;
}

.campos:hover{
    background-color: #3D0D3A;
}


